* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

button {
    cursor: pointer;
}

.default-area,
.projects-area {
    background-color: #ddd;
    width: 18rem;
    height: auto;
    padding: 1rem;
}

.sidebar-project {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.sidebar-project:hover {
    background-color: #ccc;
}